{{>layouts/header}}

<style>
    th, td {
        white-space: nowrap;
    }
</style>
<div class="table-responsive-lg">
    <table class="table table-striped-columns table-hover align-middle">
        <thead>
        <tr class="text-center">
            <th scope="col">주차장 코드</th>
            <th scope="col">주차장</th>
            <th scope="col">주소</th>
            <th scope="col">주차장 종류</th>
            <th scope="col">운영구분</th>
            <th scope="col">전화번호</th>
            <th scope="col">주차현황 제공여부</th>
            <th scope="col">총 주차면</th>
            <th scope="col">유,무료 구분</th>
            <th scope="col">월 정기권 금액</th>
            <th scope="col">기본 주차 요금</th>
            <th scope="col">기본 주차 시간(분 단위)</th>
            <th scope="col">추가 단위 요금</th>
            <th scope="col">추가 단위 시간(분 단위)</th>
            <th scope="col">일 최대 요금</th>
        </tr>
        </thead>
        <tbody>
        {{#data}}
            <tr>
                <!-- Primary key라 무조건 값 있음-->
                <td class="text-center">{{code}}</td>
                <td>
                    {{#name}}
                        {{.}}
                    {{/name}}
                    {{^name}}
                        -
                    {{/name}}
                </td>
                <td>
                    {{#address}}
                        {{.}}
                    {{/address}}
                    {{^address}}
                        -
                    {{/address}}
                </td>
                <td class="text-center">
                    {{#type}}
                        {{.}}
                    {{/type}}
                    {{^type}}
                        -
                    {{/type}}
                </td>
                <td>
                    {{#operateClassification}}
                        {{.}}
                    {{/operateClassification}}
                    {{^operateClassification}}
                        -
                    {{/operateClassification}}
                </td>
                <td class="text-center">
                    {{#phoneNumber}}
                        {{.}}
                    {{/phoneNumber}}
                    {{^phoneNumber}}
                        -
                    {{/phoneNumber}}
                </td>
                <td class="text-center">
                    {{#syncState}}
                        {{.}}
                    {{/syncState}}
                    {{^syncState}}
                        -
                    {{/syncState}}
                </td>
                <td class="text-center">
                    {{#totalParkingSpot}}
                        {{.}}
                    {{/totalParkingSpot}}
                    {{^totalParkingSpot}}
                        -
                    {{/totalParkingSpot}}
                </td>
                <td class="text-center">
                    {{#paidOrFree}}
                        {{.}}
                    {{/paidOrFree}}
                    {{^paidOrFree}}
                        -
                    {{/paidOrFree}}
                </td>
                <td class="text-center">
                    {{#subscribePrice}}
                        {{.}}
                    {{/subscribePrice}}
                    {{^subscribePrice}}
                        -
                    {{/subscribePrice}}
                </td>
                <td class="text-center">
                    {{#defaultParkingPrice}}
                        {{.}}
                    {{/defaultParkingPrice}}
                    {{^defaultParkingPrice}}
                        -
                    {{/defaultParkingPrice}}
                </td>
                <td class="text-center">
                    {{#defaultParkingTime}}
                        {{.}}
                    {{/defaultParkingTime}}
                    {{^defaultParkingTime}}
                        -
                    {{/defaultParkingTime}}
                </td>
                <td class="text-center">
                    {{#additionalParkingPrice}}
                        {{.}}
                    {{/additionalParkingPrice}}
                    {{^additionalParkingPrice}}
                        -
                    {{/additionalParkingPrice}}
                </td>
                <td class="text-center">
                    {{#additionalParkingTime}}
                        {{.}}
                    {{/additionalParkingTime}}
                    {{^additionalParkingTime}}
                        -
                    {{/additionalParkingTime}}
                </td>
                <td class="text-center">
                    {{#maxPriceOnDay}}
                        {{.}}
                    {{/maxPriceOnDay}}
                    {{^maxPriceOnDay}}
                        -
                    {{/maxPriceOnDay}}
                </td>
            </tr>
        {{/data}}
        </tbody>
    </table>
</div>

<div>
    {{#previousPage}}
        <a href="/list/{{previousPage}}" style="text-decoration: none">
            <button type="button" class="btn btn-primary" style="margin-left: 5px">이전 페이지</button>
        </a>
    {{/previousPage}}
    {{^previousPage}}
        <button type="button" class="btn btn-secondary disabled" style="margin-left: 5px">이전 페이지</button>
    {{/previousPage}}

    {{#nextPage}}
        <a href="/list/{{nextPage}}" style="text-decoration: none">
            <button type="button" class="btn btn-primary" style="float: right; margin-right: 5px">다음 페이지</button>
        </a>
    {{/nextPage}}
    {{^nextPage}}
        <button type="button" class="btn btn-secondary disabled" style="float: right; margin-right: 5px">다음 페이지</button>
    {{/nextPage}}
</div>

{{>layouts/footer}}
