{{>layouts/header}}

<style>
    th, td {
        white-space: nowrap;
    }
</style>
<div class="table-responsive-lg">
    <table class="table table-striped-columns table-hover align-middle">
        <thead>
        <tr class="text-center">
            <th scope="col">주차장 코드</th>
            <th scope="col">주차장</th>
            <th scope="col">주소</th>
            <th scope="col">주차장 종류</th>
            <th scope="col">운영구분</th>
            <th scope="col">전화번호</th>
            <th scope="col">주차현황 제공여부</th>
            <th scope="col">총 주차면</th>
            <th scope="col">유,무료 구분</th>
            <th scope="col">월 정기권 금액</th>
            <th scope="col">기본 주차 요금</th>
            <th scope="col">기본 주차 시간(분 단위)</th>
            <th scope="col">추가 단위 요금</th>
            <th scope="col">추가 단위 시간(분 단위)</th>
            <th scope="col">일 최대 요금</th>
        </tr>
        </thead>
        <tbody>
        {{#data}}
            <tr onclick="window.location.href='/pleft/{{parkingCode}}'" style="cursor: pointer">
                <!-- Primary key라 무조건 값 있음-->
                <td class="text-center">{{parkingCode}}</td>
                <td>
                    {{#parkingName}}
                        {{.}}
                    {{/parkingName}}
                    {{^parkingName}}
                        -
                    {{/parkingName}}
                </td>
                <td>
                    {{#addr}}
                        {{.}}
                    {{/addr}}
                    {{^addr}}
                        -
                    {{/addr}}
                </td>
                <td class="text-center">
                    {{#parkingTypeNm}}
                        {{.}}
                    {{/parkingTypeNm}}
                    {{^parkingTypeNm}}
                        -
                    {{/parkingTypeNm}}
                </td>
                <td>
                    {{#operationRuleNm}}
                        {{.}}
                    {{/operationRuleNm}}
                    {{^operationRuleNm}}
                        -
                    {{/operationRuleNm}}
                </td>
                <td class="text-center">
                    {{#tel}}
                        {{.}}
                    {{/tel}}
                    {{^tel}}
                        -
                    {{/tel}}
                </td>
                <td class="text-center">
                    {{#queStatusNm}}
                        {{.}}
                    {{/queStatusNm}}
                    {{^queStatusNm}}
                        -
                    {{/queStatusNm}}
                </td>
                <td class="text-center">
                    {{#capacity}}
                        {{.}}
                    {{/capacity}}
                    {{^capacity}}
                        -
                    {{/capacity}}
                </td>
                <td class="text-center">
                    {{#payNm}}
                        {{.}}
                    {{/payNm}}
                    {{^payNm}}
                        -
                    {{/payNm}}
                </td>
                <td class="text-center">
                    {{#fulltimeMonthly}}
                        {{.}}
                    {{/fulltimeMonthly}}
                    {{^fulltimeMonthly}}
                        -
                    {{/fulltimeMonthly}}
                </td>
                <td class="text-center">
                    {{#rates}}
                        {{.}}
                    {{/rates}}
                    {{^rates}}
                        -
                    {{/rates}}
                </td>
                <td class="text-center">
                    {{#timeRate}}
                        {{.}}
                    {{/timeRate}}
                    {{^timeRate}}
                        -
                    {{/timeRate}}
                </td>
                <td class="text-center">
                    {{#addRates}}
                        {{.}}
                    {{/addRates}}
                    {{^addRates}}
                        -
                    {{/addRates}}
                </td>
                <td class="text-center">
                    {{#addTimeRate}}
                        {{.}}
                    {{/addTimeRate}}
                    {{^addTimeRate}}
                        -
                    {{/addTimeRate}}
                </td>
                <td class="text-center">
                    {{#dayMaximum}}
                        {{.}}
                    {{/dayMaximum}}
                    {{^dayMaximum}}
                        -
                    {{/dayMaximum}}
                </td>
            </tr>
        {{/data}}
        {{^data}}
            <td class="text-center">
                검색 결과가 없습니다.
            </td>
        {{/data}}
        </tbody>
    </table>
</div>

<div>
    {{#previousPage}}
        <a href="/list/{{previousPage}}" style="text-decoration: none">
            <button type="button" class="btn btn-primary" style="margin-left: 5px">이전 페이지</button>
        </a>
    {{/previousPage}}
    {{^previousPage}}
        <button type="button" class="btn btn-secondary disabled" style="margin-left: 5px">이전 페이지</button>
    {{/previousPage}}

    {{#nextPage}}
        <a href="/list/{{nextPage}}" style="text-decoration: none">
            <button type="button" class="btn btn-primary" style="float: right; margin-right: 5px">다음 페이지</button>
        </a>
    {{/nextPage}}
    {{^nextPage}}
        <button type="button" class="btn btn-secondary disabled" style="float: right; margin-right: 5px">다음 페이지</button>
    {{/nextPage}}
</div>

{{>layouts/footer}}
