{{>layouts/header}}

<form class="d-flex" role="search" method="post" action="/search">
    <input class="form-control m-2" value="{{address}}" type="search" placeholder="주소" aria-label="Search" name="address">
    <button class="btn btn-outline-success m-2" type="submit">Search</button>
</form>

{{>map/googleMap}}

{{>layouts/footer}}