{{>layouts/header}}

<!--
http://data.seoul.go.kr/dataList/OA-21709/S/1/datasetView.do

http://openapi.seoul.go.kr:8088/6e6170497973616c31366a4f4e6c70/json/GetParkingInfo/1/1000/구로구

json으로 주소 근처 주차장 데이터 반환

총 주차자리 - 현재 주차량 = 남은 주차자리

마커 -> google javascript api로 진행
-->

<form class="d-flex" role="search" method="post" action="/search">
    <input class="form-control m-2" value="{{address}}" type="search" placeholder="주소" aria-label="Search" name="address">
    <button class="btn btn-outline-success m-2" type="submit">Search</button>
</form>

{{>map/googleMap}}

{{>layouts/footer}}