<div class="m-1" style="width: 100%; padding-bottom: 56.25%; position: relative">
    <iframe
            style="border:0; height: 100%; width: 100%; position:absolute;"
            allowfullscreen
            referrerpolicy="no-referrer-when-downgrade"
            src="https://www.google.com/maps/embed/v1/place?key=
    &q={{location}}">
    </iframe>
</div>


